* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}




body {
    height: 100svh;
    width: 100svw;

    #GameArea {
        overflow: hidden;
        position: absolute;
        top: .5svw;
        left: 15svw;
        height: 45svw;
        width: 70svw;
        border: black 2px solid;
        background-image: url(spriteSheets/grass.png);
        background-size: 3svw 3svw;

        #buildingDIV {
            height: 100%;
            width: 100%;
            position: relative;
            z-index: 1;

            div{
                position: absolute;
            }

            .road {
                background-image: url(spriteSheets/road.jpg);
                background-size: 3svw 3svw;
            }
            .fence{
                background-image: url(spriteSheets/fence.png);
                background-size: .8svw 1.5svw;
                height: 1.5svw;
                width: .8svw;
                z-index: 2;
            }
            .fenceLeft{
                background-image: url(spriteSheets/fenceLeft.png);
                background-size: 1.6svw 1.4svw;
                height: 1.4svw;
                z-index: 2;
            }
            .fenceTop{
                background-image: url(spriteSheets/fenceTop.png);
                background-size: .75svw 1.4svw;
                width: .75svw;
                z-index: 2;
            }
        }
    }
}

#perso {
    position: absolute;
    z-index: 2;

    #spritePerso {
        margin-top: -100%;
        margin-left: -50%;
        position: relative;
        height: 2.7svw;
        width: 2svw;
        background-size: 20svw 16svw;
        background-image: url(spriteSheets/basic.png);
    }
}